crewai==0.102.0
tensorflow==2.16.2
scikit-learn==1.5.2
imbalanced-learn==0.12.4
kagglehub==0.3.8
pandas==2.2.3
numpy==1.26.4
matplotlib==3.9.4
seaborn==0.13.2
plotly==5.24.1
python-dotenv==1.0.1
pydantic==2.10.6
gradio==5.1.0
litellm==1.50.1
